{% extends 'base.html' %}
{% block title %}Checkout{% endblock title %}
{% block content %}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72"
        height="57">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required
        form group has a validation state that can be triggered by attempting to submit the form without
        completing it.</p>
</div>

<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Product name</h6>
                    <small class="text-body-secondary">Brief description</small>
                </div>
                <span class="text-body-secondary">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>$5</strong>
            </li>
        </ul>

        <form class="card p-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
        </form>
    </div>
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form action="{% url 'checkout' %}" method="POST" >
            {% csrf_token %}
            <div class="row g-3">
                <div class="mb-3">
                    <label class="form-label">Full name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="col-md-7">
                    <label class="form-label">CPF</label>
                    <input type="text" class="form-control" name="cpf" required>
                </div>
                <div class="col-md-5">
                    <label class="form-label">Phone</label>
                    <input type="number" class="form-control" name="phone" required>
                </div>
            </div>
            <hr class="my-4">

            <h4 class="mb-3">Payment</h4>

            <div class="my-3">
                <div class="form-check">
                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" value="pix" required>
                    <label class="form-check-label" for="debit">Pix</label>
                </div>
        
                <div class="form-check">
                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" value="boleto" required>
                    <label class="form-check-label" for="paypal">Boleto</label>
                </div>
            </div>
            <hr class="my-4">
            <button type="submit" class="w-100 btn btn-primary btn-lg">Continue to checkout</button>
        </form>
    </div>
</div>
{% endblock content %}