{% extends 'base.html' %}
{% block title %}
  Payment
{% endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
  <style>
    * {
      font-size: 14px;
    }
  </style>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Pricing example</a>
  </nav>
  <div class="container mt-5">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card w-50 text-center mx-auto">
          <div class="card-body">
            <h5 class="card-title">
              Pague R$ {{ payment.transaction_amount }}
              via 
              {% if payment.payment_method_id == 'bolbradesco' %}
                Boleto
              {% else %}
                {{ payment.payment_method_id }}
              {% endif %}
            </h5>
            <hr />

            <p>Para pagar, escolha uma destas opções:</p>
            {% if payment.payment_method_id == 'bolbradesco' %}
              <p>Codigo Barras</p>
              <div class="col">
                <div class="qr-image">
                  <svg id="barcode"></svg>
                </div>
              </div>
            {% else %}
              <div class="col">
                <p>Código QR</p>
                <div class="qr-image">
                  <img width="150px" height="200px" src="data:image/png;base64,{{ payment.point_of_interaction.transaction_data.qr_code_base64 }}" />
                </div>
              </div>
            {%endif%}

            <p>Código de pagamento</p>
            <div class="d-flex justify-content-center">
              <div class="row g-3">
                <div class="col-auto">
                  {% if payment.payment_method_id == 'bolbradesco' %}
                    <input class="form-control col-form-label" type="text" id="texto" value="{{payment.transaction_details.digitable_line}}" />
                  {%else%}
                    <input class="form-control col-form-label" type="text" id="texto" value="{{ payment.point_of_interaction.transaction_data.qr_code }}" />
                  {% endif %}
                </div>
                <div class="col-auto">
                  <button class="btn btn-outline-primary" onclick="copiarTexto()">Copiar Codigo</button>
                  {% if payment.payment_method_id == 'bolbradesco' %}
                    <a class="btn btn-outline-secondary" href="{{payment.transaction_details.external_resource_url}}" target="_blank">Salvar PDF</a>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer text-muted">Vencimento: {{ data_expire }}</div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3/dist/JsBarcode.all.min.js"></script>
  <script>
    function copiarTexto() {
      var textoCopiado = document.getElementById('texto')
      textoCopiado.select()
      document.execCommand('Copy')
      alert('Texto copiado: ' + textoCopiado.value)
    }

    function gerarCodigoBarras() {
      var codigoBarras = document.getElementById('barcode');
    
      JsBarcode(codigoBarras, texto, {
        format: 'CODE128',
        displayValue: false,
        width: 1.5,
        height: 60
      });
    }
    
    // Chame a função para gerar o código de barras quando necessário
    gerarCodigoBarras();
  </script>
  <script></script>
{% endblock %}
{% block footer %}

{% endblock %}
